/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
    font-family: sans-serif;
    margin: 2em;
    background-color: #ffb;
}

article {
    max-width: 50em;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1 {
    margin: 0 auto 1em auto;
    width: 800px;
}

footer {
    background-color: red;
    color: white;
}

ul {
    display: flex;
}

li {
    font-size: 2em;
    margin-right: 1em;
    width: calc((100% - 4em) / 5);
}

li:last-of-type {
    margin-right: 0;
}

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;

}
