body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 2em;
    background-color: #dfd;
    text-align: center;
}

header {
  display: block;
}

svg#logo {
  fill: #286;
  height: 5vw;
  margin: 0 2em 0 0;
  width: 6vw;
}

article {
    max-width: 800px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    font-family: 'Ranga', cursive;
    color: #345;
    font-size: 20px;
}

img {
    max-width: 100%;
}

figure {
    margin: 1em 0;
}

figcaption {
    text-align: center;
    color: #822;
    font-style: italic;
}

h1 {
    margin: 0 auto 1em auto;
    font-size: 5vw;
    font-family: 'Russo One', sans-serif;
    color: #e40;
    text-shadow: 5px 5px 5px #777;
    min-width: 350px;
}

footer {
    max-width: 50em;
    margin: 0 auto;
}

div#social {
  line-height: 3em;
}

div#social a {
  margin: 0 1.5em 2em 0;
}

div#social a:last-of-type {
  margin: 0;
}

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
    color: red;
    text-shadow: 5px 5px 5px #555;
    width: 2em;
    display: inline-block;
    font-size: 2em;
}
